<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>Car Pooling System</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
  <table width="400" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="4"><img src="../static/images/Header.png" width="379" height="142"></td>
    </tr>
    <tr>
      <td>
        <div align="center"><a href="/">Home</a></div>
      </td>
      <td>
        <div align="center"><a href="/register">Registrasi</a></div>
      </td>
      <td colspan="2">
        <div align="center"><a href="/list">Daftar Orang Yang Ikut</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <p>Menurut situs kemenkes polusi kenalpot kendaraan dan akibat polusi adalah kanker paru-paru, asma dan lain
          lain.
        </p>
        <p> Sehingga salah satu cara mengatasi adalah car pooling. Car pooling adalah metode untuk menggunakan 1 mobil
          untuk pergi ke 1 lokasi. Tujuannya adalah untuk mengurangi pencemaran udara yang ditimbulkan dari knalpot
          mobil.&nbsp; </p>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div align="center">
          <p>Website ini dibuat oleh Nathan<br>
            &copy; Nathan 2025 </p>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>