<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <title>Formulir Registrasi</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <style type="text/css">
    .style1 {
      font-size: 36px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <table width="400" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#0000FF">
    <tr>
      <td colspan="4">
        <div align="center"><img src="../static/images/Header.png" width="452" height="181"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="center"><a href="/">Home</a></div>
      </td>
      <td>
        <div align="center"><a href="/register">Registrasi</a></div>
      </td>
      <td colspan="2">
        <div align="center"><a href="/list">Daftar Orang Yang Ikut</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <p class="style1">&nbsp;</p>

        <!-- 📝 Gabungkan seluruh form di sini -->
        <form name="formRegistrasi" method="post">
          <table width="450" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="70">Nama</td>
              <td width="4">:</td>
              <td width="144">
                <input type="text" name="nama">
              </td>
              <td width="314" rowspan="4">
                <div align="center">
                  <img src="../static/images/Car%20pooling%20image.png" width="232" height="186">
                </div>
              </td>
            </tr>
            <tr>
              <td>Tanggal</td>
              <td>:</td>
              <td>
                <input type="date" name="tanggal">
              </td>
            </tr>
            <tr>
              <td>No. Handphone</td>
              <td>:</td>
              <td>
                <input type="text" name="no_hp">
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>
                <input type="submit" name="Submit" value="Kirim">
                <input type="reset" name="Clear" value="Dihapus">
              </td>
            </tr>
          </table>
        </form>
        <!-- 📋 Form selesai -->

      </td>
    </tr>
    <tr>
      <td colspan="4">
        <div align="center">
          <p>Website ini dibuat oleh Nathan<br>
            &copy; Nathan 2025</p>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>